- content_for :title, t('.title')
- hide_footer!

%header
  .inner
    %h1= t('.title')

= form_for @itinerary, url: itinerary_path(festival) do |form|
  = mithril_component('ItineraryEditor', { url: edit_itinerary_path(festival), unavailable: @itinerary.full_schedules.map(&:id) }, class: 'edit-itinerary')
