- content_for :title, t('.title')
- hide_footer!

%header
  .inner
    %h1= t('.title')

= form_for @itinerary, url: itinerary_path(festival) do |form|
  = mithril_component('ItineraryEditor', {}, class: 'edit-itinerary')
