%ul.registration-checklist
  = registration_checklist_item(:paid_in_full, t('.complete_payment'), account_path)
  = registration_checklist_item(:itinerary_complete, t('.complete_itinerary'), edit_itinerary_path)
