%section.package-selection
  .inner
    = registration_step_form do |form|
      %ul.packages= render partial: "package_selection", collection: registration_form.step.packages, as: :package, locals: { form: form }
      = form.submit t('.continue')
