%button{type: :submit, name: "registration[payment_type]", value: method.key}
  %span= t("registrations.payment.methods.#{method.key}")
  - unless method.fee.zero?
    %small.fee= t('registrations.payment.fee', fee: method.fee.format)
