// Breakpoints
$medium-screen: 600px;
$large-screen: 900px;

$max-width: 960px;

// Typography
$base-font-family: "Lato", $font-stack-system;
$heading-font-family: $base-font-family;
$icon-font: "Material Icons";

// Font Sizes
$base-font-size: 1em;
$small-font-size: .875rem;

$base-font-weight: 400;
$light-font-weight: 300;
$bold-font-weight: 700;
$black-font-weight: 900;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$tomato: #ff6447;
$teal: #2b6c8b;
$red: #ed1c24;
$amber: #ffa547;
$pink: #d83c80;
$purple: #ae51be;
$dark-grey: #263238;
$medium-grey: #607D8B;
$light-grey: #ECEFF1;

// Font Colors
$base-font-color: $dark-grey;
$secondary-color: $medium-grey;
$action-color: $teal;
$error-color: $tomato;
$accent-color: $tomato;

// Border
$base-border-color: rgba($medium-grey, .25);
$base-border: 1px solid $base-border-color;

// Background Colors
$base-background-color: #fff;
$secondary-background-color: rgba($light-grey, .5);
$header-background-color: $accent-color;
$info-background-color: #ffe082;

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);

// Animations
$base-duration: 150ms;
$long-duration: 350ms;
$base-timing: $ease-out-cubic;

$navigation-background-color: $dark-grey;
$navigation-color: $light-grey;
