- content_for :title, "Bookings"

%header
  .inner
    %h1 Bookings

- @shows.to_a.group_by(&:date).each do |date, shows|
  %section.box-office-list
    .inner
      %h3= date
      %ul.shows
        = render shows
