.activities {
  [role="listitem"] {
    small {
      font-size: $small-font-size;
      line-height: 1.5rem;
      color: $secondary-color;
    }

    [rel="edit"] {
      flex: 1;
      padding: .5rem 0;
      display: flex;
      justify-content: space-between;
    }
  }
}
