main > header {
  border-bottom: $base-border;
  padding-bottom: $small-spacing;
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: $base-spacing;
  flex-wrap: wrap;

  section {
    flex: 1;
  }

  aside {
    height: 100%;
    display: flex;
    margin-left: $base-spacing;

    > * {
      padding: 0 .5rem;
      font-size: $small-font-size;

      + * {
        border-left: $base-border;
      }
    }

    button,
    [role="button"] {
      padding: .5rem;
      border: none;
      border-radius: 50%;
      @include size(2.5rem);
      background: none;
      color: rgba($action-color, .5);
      transition: color $base-duration $base-timing;
      outline: none;

      &:hover, &:focus {
        color: rgba($action-color, 1);
        background: none;
      }
    }
  }

  h1 {
    margin: 0;
    line-height: 1.5rem;
  }

  h2 {
    margin: 0;
    line-height: 1.5rem;
    font-size: $base-font-size;
    font-weight: $light-font-weight;
    color: $medium-grey;
  }

  p {
    margin: 0 -.5rem;
    font-size: $small-font-size;
    display: flex;

    > * {
      line-height: 1.5rem;
      padding: 0 .5rem;

      + * {
        border-left: $base-border;
      }
    }
  }
}
