[role="list"] {
  .empty {
    color: $secondary-color;
    text-align: center;
    padding: $base-spacing;
    display: none;

    &:last-child {
      display: block;
    }
  }

  header {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: $small-spacing;

    > * {
      margin-bottom: $small-spacing;
    }

    [type="search"] {
      flex: 1 0 50%;
      border-color: shade($base-border-color, 25%);
      border-width: 0 0 1px;
      box-shadow: none;
      border-radius: 0;
      padding-left: 1.5rem;

      + label {
        order: -1;
        margin-right: -1.5rem;
        padding: .5rem 0;
        position: relative;
        z-index: 1;
        pointer-events: none;

        i {
          display: block;
        }
      }
    }

    button,
    [role="button"] {
      margin-left: $base-spacing;
      flex-shrink: 0;
      white-space: nowrap;
    }
  }

  [role="listitem"] {
    border-bottom: $base-border;
    display: flex;
    align-items: flex-start;

    &:first-of-type, &.first {
      border-top: $base-border;
    }
  }
}
