li.package {
  list-style: none;
  display: flex;
  align-items: center;

  &:not(:first-child) {
    border-top: $base-border;
  }

  span {
    flex: 1;
  }

  a {
    padding: .5rem 0;
  }

  i {
    display: block;
    padding: .5rem;

    &:first-child {
      margin-right: .5rem;
      color: $light-grey;
      cursor: move;
    }
  }

  &:not(:first-of-type) {
    border-top: $base-border;
  }

  &.gu-mirror {
    border: $base-border;
    background: $base-background-color;
  }
}

.new-package,
.edit-package {
  .allocation {
    label {
      display: flex;
      justify-content: flex-start;
      align-items: center;

      span {
        width: 10rem;
      }

      [type="number"] {
        width: 4rem;
        margin: 0;
      }
    }
  }
}
