$timetable-border-color: mix($medium-grey, $light-grey, 25%);
$timetable-background-color: $light-grey;

@mixin selected-day {
  [role="rowheader"]::before {
    content: "";
    @include position(absolute, 0rem 100% null null);
    z-index: 10;
    width: 3.5rem;
    height: 2rem;
    background: linear-gradient($timetable-background-color 50%,
    rgba($timetable-background-color, 0));
  }
}

[data-controller="timetables"] main {
  display: flex;
  flex-direction: column;
  padding: 0;
  height: 100vh;
  overflow: hidden;

  > header {
    flex-shrink: 0;
    margin: 0;
    padding: 1rem 1rem $small-spacing 3.5rem;

    [rel="range"] { display: none; }
  }

  > section {
    min-height: 2rem;
    overflow-y: auto;
    position: relative;
    background: $timetable-background-color;
    flex: 1;
    user-select: none;

    > .inner {
      padding: 2rem 3.5625rem 0 0;
      height: 35rem;
      max-height: 35rem;
      overflow: hidden;
    }

    [role="grid"] {
      display: flex;
      flex-direction: row;

      [role="row"] {
        flex: 1 0 0%;
        border-left: 1px solid $timetable-border-color;
        border-right: 1px solid $timetable-border-color;
        position: relative;
        display: none;
        margin-right: -1px;

        &:first-child {
          display: block;
          flex: 0 0 3.5rem;
          border-left: none;
          border-bottom: none;
          transform: translateY(-.5rem);

          [role="columnheader"] {
            white-space: nowrap;
            height: 1rem;
            margin: 0;
            line-height: 1rem;
            font-size: .75rem;
            font-weight: $light-font-weight;
            color: $medium-grey;
            text-align: right;
            padding-right: .5rem;

            &:nth-of-type(even) {
              visibility: hidden;
            }
          }
        }

        &[aria-selected="true"] {
          display: block;
          @include selected-day;
        }

        [role="rowheader"] {
          @include position(absolute, null 0rem 100% 0rem);
          z-index: 10;
          font-size: $small-font-size;
          font-weight: $light-font-weight;
          color: $medium-grey;
          background: $timetable-background-color;
          border-bottom: 1px solid $timetable-border-color;
          text-transform: uppercase;
          margin: 0 -1px -1px;
          text-align: center;
          line-height: 2rem;
          vertical-align: middle;
          box-sizing: content-box;
          padding: 0 1px;
          width: 100%;
        }

        article.schedule {
          position: absolute;
          transition-property: left, width, top;
          transition-duration: $base-duration;
          transition-timing-function: $ease-out-back;

          > div {
            content: "";
            position: absolute;
            left: 1px;
            top: 2px;
            right: 2px;
            bottom: 1px;
            border: 1px solid red;
            background: rgba(red, .25);
            border-radius: $base-border-radius;
            cursor: move;
          }

          > hr {
            border: none;
            @include position(absolute, null 0rem 0rem 0rem);
            height: .5rem;
            cursor: ns-resize;
            margin: 0;
          }

          &.dragging {
            transition-property: none;
            z-index: 1;

            > div {
              box-shadow: 0 0 .5rem rgba(black, .25);
            }
          }
        }

        [role="gridcell"] {
          height: 1rem;
          max-height: 1rem;
          overflow: visible;
          border-top: 1px solid $timetable-border-color;
          position: relative;

          &:nth-of-type(even) {
            border-top-color: rgba($timetable-border-color, .35);
          }

          &:last-of-type::after {
            content: "";
            @include position(absolute, null 0px -1px -1px);
            border-bottom: 1px solid $timetable-border-color;
          }

          .timeslot {
            @include position(absolute, 0rem 0rem null 0rem);
            z-index: 1;
            display: flex;
            flex-direction: row;
            align-items: flex-start;

            .timetable-activity {
              flex: 1 1 0%;
            }

            &:empty { display: none; }
          }
        }
      }
    }
  }

  [rel="trash"] {
    position: fixed;
    z-index: 20;
    right: 1rem;
    bottom: 1rem;
    background: $dark-grey;
    color: white;
    border-radius: 50%;
    font-size: 1.5rem;
    padding: .5em;
    width: 2.5em;
    height: 2.5em;
    opacity: .5;
    transition: all $base-duration $base-timing;
    transition-delay: .25s;

    i {
      display: block;
      font-size: 1.5em;
    }

    .timetable-activity {
      display: none;
    }

    &.over {
      transform: scale(2.0);
      opacity: 1;
      transition-delay: 0s;
    }
  }

  > footer {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    position: relative;
    height: 40%;
    min-height: 2.5rem;
    border-top: $base-border;
    padding-top: .25rem;
    border-bottom: none;

    [role="separator"] {
      @include position(absolute, 0rem 0rem null 0rem);
      margin: 0;
      height: .5rem;
      border: 0;
      cursor: ns-resize;
    }

    > section {
      position: relative;
      flex: 1 1 0%;
      min-height: 0;
    }

    [role="tabpanel"] {
      display: none;
      padding: 1rem 3.5rem;
      overflow-y: auto;
      @include position(absolute, 0rem 0rem 0rem 0rem);

      &[aria-expanded="true"] {
        display: block;
      }
    }
  }

  @include media($large-screen) {
    > header {
      [rel="next"],
      [rel="prev"] {
        display: none;
      }

      [rel="single"] { display: none; }
      [rel="range"] { display: block; }
    }

    > section [role="grid"] [role="row"] {
      display: block;

      &:not(:first-of-type) [role="rowheader"]::before {
        display: none;
      }

      &:first-of-type {
        @include selected-day;
      }
    }

    > footer {
      [role="group"] {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;

        @for $i from 1 through 10 {
          &[data-columns="#{$i}"] [role="listitem"] {
            flex: 0 1 percentage(1/$i);
          }
        }
      }
    }
  }
}

.timetable-activity {
  position: relative;
  min-height: 1.625rem;

  .inner {
    @include position(absolute, 1px 1px 2px 1px);
    border: $base-border;
    border-radius: $base-border-radius;
    padding: .25rem;
    cursor: move;
    overflow: hidden;
  }

  h4 {
    font-size: .75rem;
    font-weight: $base-font-weight;
  }

  [rel="edit"] {
    color: $base-font-color;
    &:hover { text-decoration: underline; }
  }

  &.workshop     .inner { background: $tomato; }
  &.show         .inner { background: $amber; }
  &.social-event .inner { background: $pink; }
  &.discussion   .inner { background: $purple; }

  @for $i from 1 through 50 {
    &[data-duration="#{$i}"] {
      height: #{$i}rem;
    }
  }

  &.gu-transit {
    pointer-events: none;
  }

  hr {
    @include position(absolute, null 0rem 0rem 0rem);
    height: .5rem;
    cursor: ns-resize;
    background: none;
    border: none;
    margin: 0;
    display: none;
  }

  &[data-schedule-id] hr { display: block; }
}

.dialog.edit-schedule {
  section {
    @include media($medium-screen) {
      // max-height: 6.5rem;
      overflow-y: visible;
    }
  }
}
