$timetable-border-color: mix($medium-grey, $light-grey, 25%);
$timetable-background-color: $light-grey;

@mixin selected-day {
  [role="rowheader"]::before {
    content: "";
    @include position(absolute, 0rem 100% null null);
    z-index: 10;
    width: 3.5rem;
    height: 2rem;
    background: linear-gradient($timetable-background-color 50%,
    rgba($timetable-background-color, 0));
  }
}

[data-controller="timetables"] main {
  padding: 0;

  .timetable-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
  }

  header {
    flex-shrink: 0;
    margin: 0;
    padding: 1rem 1rem $small-spacing 3.5rem;

    [rel="range"] { display: none; }
  }

  .edit-timetable {
    min-height: 2rem;
    overflow-y: auto;
    position: relative;
    background: $timetable-background-color;
    flex: 1;
    user-select: none;

    > .inner {
      padding: 2rem 3.5625rem 0 0;
      height: 39rem;
      max-height: 39rem;
      overflow: hidden;
    }

    [role="grid"] {
      display: flex;
      flex-direction: row;

      [role="row"] {
        flex: 1 0 0%;
        border-left: 1px solid $timetable-border-color;
        border-right: 1px solid $timetable-border-color;
        position: relative;
        display: none;
        margin-right: -1px;

        &:first-child {
          padding: 0;
          display: block;
          flex: 0 0 3.5rem;
          border-left: none;
          border-bottom: none;
          transform: translateY(-.5rem);
          padding-bottom: 0;
          margin-bottom: 0;

          [role="columnheader"] {
            display: block;
            white-space: nowrap;
            height: 1rem;
            margin: 0;
            line-height: 1rem;
            font-size: .75rem;
            font-weight: $light-font-weight;
            color: $medium-grey;
            text-align: right;
            padding-right: .5rem;

            &:nth-of-type(even) {
              visibility: hidden;
            }
          }
        }

        &[aria-selected="true"] {
          display: block;
          @include selected-day;
        }

        [role="rowheader"] {
          @include position(absolute, null 0rem 100% 0rem);
          z-index: 10;
          font-size: $small-font-size;
          font-weight: $light-font-weight;
          color: $medium-grey;
          background: $timetable-background-color;
          border-bottom: 1px solid $timetable-border-color;
          text-transform: uppercase;
          margin: 0 -1px -1px;
          text-align: center;
          line-height: 2rem;
          vertical-align: middle;
          box-sizing: content-box;
          padding: 0 1px;
          width: 100%;
        }

        [role="gridcell"] {
          height: 1rem;
          max-height: 1rem;
          overflow: visible;
          border-top: 1px solid $timetable-border-color;
          position: relative;
          cursor: cell;

          &:nth-of-type(even) {
            border-top-color: rgba($timetable-border-color, .35);
          }

          &:last-of-type::after {
            content: "";
            @include position(absolute, null -1px -1px -1px);
            border-bottom: 1px solid $timetable-border-color;
          }
        }
      }
    }
  }

  @include media($large-screen) {
    header {
      [rel="next"],
      [rel="prev"] {
        display: none;
      }

      [rel="single"] { display: none; }
      [rel="range"] { display: block; }
    }

    .edit-timetable [role="grid"] [role="row"] {
      display: block;

      &:not(:first-of-type) [role="rowheader"]::before {
        display: none;
      }

      &:first-of-type {
        @include selected-day;
      }
    }
  }
}

article.schedule {
  position: absolute;
  transition-property: left, width, top;
  transition-duration: $base-duration;
  transition-timing-function: $ease-out-back;

  > div {
    content: "";
    position: absolute;
    left: 1px;
    top: 2px;
    right: 0px;
    bottom: 1px;
    border: 1px dashed $base-border-color;
    border-radius: $base-border-radius;
    cursor: grab;
    padding: .1875rem;
    overflow: hidden;
  }

  h4 {
    font-size: .75rem;
    font-weight: $base-font-weight;

    a {
      color: $base-font-color;
      opacity: .5;
    }
  }

  div:hover a {
    opacity: 1;
  }

  @mixin activity-type($type, $color) {
    .#{$type} {
      border: 1px solid rgba($color, .75);
      background-color: rgba($color, .25);
    }

    &.dragging .#{$type} {
      border-color: $color;
      background-color: rgba($color, .5);
    }
  }

  @include activity-type('workshop', $workshop-color);
  @include activity-type('show', $show-color);
  @include activity-type('social-event', $social-event-color);
  @include activity-type('discussion', $discussion-color);

  > hr {
    border: none;
    @include position(absolute, null 0rem 0rem 0rem);
    height: .5rem;
    cursor: ns-resize;
    margin: 0;
  }

  &.dragging,
  &.resizing {
    transition-property: none;
    z-index: 1;

    > div,
    > hr {
      cursor: grabbing;
    }

    > div {
      box-shadow: 0 0 .5rem rgba(black, .25);
    }
  }

  &.dragging {
    left: 0 !important;
    width: 90% !important;
  }

  &.drawing {
    > div,
    > hr {
      cursor: cell;
    }

    > div {
      box-shadow: none;
      background: rgba(black, .01);
    }
  }
}

.dialog.new-schedule,
.dialog.edit-schedule {
  section {
    @include media($medium-screen) {
      overflow-y: visible;
    }
  }
}
