- content_for :title, t('.title')

%header
  %section
    %h1= t('.title')

%section
  = form_for @participant, url: admin_participant_path(@participant) do |form|
    = render partial: "form", object: form
    %footer
      = form.submit t('.submit')
