- content_for :title, t('.title')
- content_for :navigation_button, back_button(admin_users_path)

%header
  %section
    %h1= t('.title')

%section
  = form_for @participant, url: admin_user_path(@participant) do |form|
    = render partial: "form", object: form
    %footer
      = form.submit t('.submit')
