%p= t('emails.registration.greeting', name: @participant.name)
%p
  You’re now registered for
  = succeed "." do
    = @festival.name
  = link_to "Check it out!", festival_url(@festival)
%p
  Thanks,
  %br
  The NZIF team
