- content_for :title, t('.title', festival: festival.name, participant: registration.participant)
- content_for :navigation_button, back_button(admin_participant_registration_path(festival, registration.participant))

%header
  %section
    %h1= registration.participant
    %h2= festival

%section
  = form_for registration, url: admin_participant_registration_path(festival, registration.participant), method: :put do |form|
    = render partial: "form", object: form
