- content_for :title, t('.title', festival: festival.name, participant: registration.participant)
- content_for :navigation_button, back_button(admin_participants_path)

%header
  %section
    %h1= registration.participant
    %h2= festival
  %aside
    = link_to edit_admin_participant_registration_path(festival, registration.participant) do
      = icon :edit
