.activities-intro {
  border-bottom: $base-border;
}

.activities {
  background: lighten($light-grey, .75);

  [role="list"] {
    margin: -.25rem;
  }

  hr {
    width: 100%;
    height: 0;
    margin: 0;
    border: none;
  }

  article {
    width: 100%;
    padding: .25rem;
    font-size: $small-font-size;

    .inner {
      display: block;
      position: relative;
      border-radius: $base-border-radius;
      background: $base-background-color;
      color: $base-font-color;
      box-shadow: 0 0 .25rem $base-border-color;
    }

    img {
      display: block;
      @include border-top-radius($base-border-radius);
    }

    .description {
      padding: .5rem;
    }

    h4 {
      font-size: 100%;
      margin: 0 0 .25rem;
    }

    p {
      margin: 0;
      color: $secondary-color;
      font-size: .75rem;
    }
  }

  @include media($medium-screen) {
    article, hr {
      width: 25%;
    }
  }

  @include media($large-screen) {
    article, hr {
      width: 20%;
    }
  }
}

.activity-header {
  .inner {
    display: block;
  }

  h2 {
    font-weight: $light-font-weight;
    margin: 0;
  }
}

/*
@include media(max-width ($medium-screen - 1px)) {
  .activities:not(.featured) {
    article {
      @include span-columns(6);
      @include omega(2n);
    }
  }
}

@include media(min-width $medium-screen max-width ($large-screen - 1px)) {
  .activities {
    &:not(.featured) {
      article {
        @include span-columns(4);
        @include omega(3n);
      }
    }

    &.featured {
      article {
        @include span-columns(6);
        @include omega(2n);

        &:nth-child(2) {
          display: block;
        }
      }
    }
  }
}

@include media($large-screen) {
  .activities {
    &:not(.featured) {
      article {
        @include span-columns(3);
        @include omega(4n);
      }
    }

    &.featured {
      article {
        @include span-columns(4);
        @include omega(3n);

        &:not(:first-child) {
          display: block;
        }
      }
    }
  }
}
*/
.activity-details {
  .description {
    ul {
      @include bulleted-list;
    }
  }

  .facilitators {
    margin: $base-spacing 0;
    padding: $base-spacing 0;
    border-top: $base-border;

    article {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      margin: 0 0 $small-spacing;

      img {
        @include size(4rem);
        margin-right: $base-spacing;
        border-radius: 50%;
      }

      .bio {
        flex: 1;
      }

      h3 {
        font-size: 1em;
        font-weight: $bold-font-weight;
        margin: 0 0 .5rem;
      }
    }
  }

  aside {
    .schedules {
      li {
        p {
          margin: 0;

          p:empty { display: none; }
        }

        button, [role="button"] {
          background: white;
          color: $action-color;
          border: 1px solid currentcolor;
          display: flex;
          width: 100%;
          align-items: center;
          padding-left: 0;
          margin-top: $base-spacing;

          i {
            margin: 0 .75rem;
          }

          &:disabled {
            color: $tomato;
          }
        }
      }
    }
  }

  @include media($medium-screen) {
    .inner > section {
      @include span-columns(2 of 3);
    }

    aside {
      @include span-columns(1 of 3);
      @include omega(2n);
      font-size: $small-font-size;
      line-height: (1.5 / .875);
    }
  }
}
