.flash {
  @include full-width-section;
  background: $teal;

  p {
    @include outer-container;
    padding: $small-spacing 0;
    display: flex;
    align-items: center;
    margin: 0 auto;

    @include icon('done');

    span {
      flex: 1;
    }

    &::after {
      display: none;
    }
  }

  &.alert {
    background-color: $amber;
    p::before { content: 'warning'; }
  }
}
