.inline-errors {
  margin: -.5rem 0 $small-spacing;
  font-size: $small-font-size;
  color: $error-color;
}

label small {
  font-size: $small-font-size;
  color: $medium-grey;
  font-weight: $base-font-weight;
  float: right;
}
