header[role="banner"] {
  @include full-width-section;
  background: $tomato;
  color: white;

  .inner {
    @include outer-container;
    padding-top: 6rem;
  }

  h1 {
    font-weight: $black-font-weight;
    font-size: 300%;
    line-height: 1;
    margin: 0 0 0 -.08em;
  }

  h2 {
    line-height: 1;
    margin: 0;
    font-weight: $light-font-weight;
  }

  @include media($medium-screen) {
    h1 { font-size: 6vw; }
    h2 { font-size: 3vw; }
  }
}
