.itinerary {
  .inner {
    &::after { display: none; }

    aside {
      ul {
        @include action-list;
      }
    }
  }

  @include media($medium-screen) {
    .inner {
      display: flex;
      align-items: flex-start;

      .list {
        flex: 1 1 75%;
      }

      aside {
        flex: 0 1 25%;
        margin-left: $base-spacing;
      }
    }
  }
}

.itinerary-list {
  h2 {
    color: $secondary-color;
    font-weight: $base-font-weight;
    font-size: 100%;
    border-bottom: $base-border;
    text-transform: uppercase;
    line-height: 2rem;
  }

  article {
    margin: 0 0 $base-spacing;

    h3 {
      font-size: 100%;
      margin: 0;
      line-height: $base-line-height;
    }

    .info {
      color: $secondary-color;
      span + span {
        &::before {
          content: " • ";
        }
      }
    }

    @include media($medium-screen) {
      position: relative;
      padding-left: 11rem;

      .times {
        position: absolute;
        left: 0;
        top: 0;
        width: 10rem;
        color: $secondary-color;
      }
    }
  }
}

.edit-itinerary {
  > header {
    @include full-width-header;

    .inner {
      padding-top: .5rem;
      padding-bottom: .5rem;
      display: flex;
      justify-content: space-between;

      &::after { display: none; }
    }

    .activity-counts {
      circle {
        stroke: rgba(white, .15);
      }

      path {
        stroke: white;
      }
    }

    button[type="submit"] {
      background: white;
      color: $header-background-color;
      transition: all $base-duration $base-timing;
      padding-left: .75rem;
      padding-right: .75rem;

      span {
        display: none;
      }

      &::after {
        content: "Save";

        @include media($medium-screen) {
          content: "Save changes";
        }
      }

      &:disabled {
        background: white;
        opacity: .25;
      }
    }

    [rel="save"] {
      display: flex;
      align-items: center;
      padding: 0;
      background: none;
      outline: none;

      .outline {
        fill: none;
        stroke: white;
        stroke-width: .25rem;
        stroke-dasharray: 113px;
        stroke-dashoffset: 113px;
        transform: rotate(-45deg);
        transform-origin: 50% 50%;
      }

      .check {
        fill: none;
        stroke: white;
        stroke-width: .25rem;
        stroke-dasharray: 26px, 100px;
        stroke-dashoffset: 0;
      }

      &[aria-busy="true"] {
        .outline {
          stroke-dashoffset: 0;
          transition: stroke-dashoffset 1500ms $ease-out-cubic;
        }

        .check {
          stroke-dashoffset: -35px;
          transition: stroke-dashoffset 200ms linear;
        }
      }

      &.done {
        .outline {
          stroke: rgba(white, 0);
          transition: stroke 500ms $base-timing;
        }

        .check {
          stroke-dashoffset: -126px;
          transition-duration: 500ms;
        }
      }

      span {
        margin-left: .5rem;
        @include media(max-width ($medium-screen - 1px)) {
          display: none;
        }
      }
    }

    &.fixed {
      @include position(fixed, 0rem 0rem null 0rem);
      z-index: 50;

      + section {
        padding-top: 3.5rem;
      }
    }
  }

  @include media($medium-screen) {
    header li [rel="limit"] {
      display: block;
    }
  }

  > footer {
    @include full-width-section;
    @include position(fixed, null 0rem -1rem 0rem);
    z-index: 60;
    padding-bottom: 1rem;
    background: $medium-grey;
    color: white;
    -webkit-font-smoothing: antialiased;
    transition: transform $base-duration $ease-out-back;

    &[aria-hidden="true"] {
      transition-timing-function: $ease-in-back;
      transform: translateY(10rem);
    }

    .inner {
      position: relative;
      display: flex;
      align-items: flex-start;

      &::after { display: none; }

      .money {
        flex-shrink: 0;
        margin-left: 1rem;
        font-size: 1.5rem;
        line-height: 1em;
        border: 1px solid white;
        border-radius: $base-border-radius;
        padding: .4375rem;

        abbr {
          color: white;

          @include media(max-width ($medium-screen - 1px)) {
            display: none;
          }
        }
      }

      #show-messages {
        display: none;
      }

      > label[for="show-messages"] {
        flex: 1 1 1em;
        font: normal 1.5rem "Material Icons";
        text-align: left;
        line-height: 1em;
        margin: 0;
        -webkit-font-smoothing: antialiased;

        &[aria-hidden="true"] {
          opacity: .5;
        }

        &:not([aria-hidden="true"]) {
          animation: pulsate 1s infinite alternate;
          cursor: help;
        }

        &::before {
          content: "info_outline";
        }

        @keyframes pulsate {
          from {
            text-shadow: 0 0 0 rgba($accent-color, 0);
          }
          to {
            text-shadow: 0 0 .5rem rgba($accent-color, 1);
          }
        }
      }

      @include media(max-width ($medium-screen - 1px)) {
        .messages {
          @include position(absolute, null -.5rem 100% -.5rem);
          margin-bottom: .5rem;
          background: rgba(#ffc, .95);
          color: $base-font-color;
          padding: .5rem 2rem .5rem .5rem;
          box-shadow: 0 0 .5rem rgba($dark-grey, .5);
          border-radius: $base-border-radius;
          opacity: 0;
          pointer-events: none;
          transform: translateY(100%);
          transition: all $medium-duration $base-timing;

          label {
            @include position(absolute, .5rem .5rem null null);
            font-size: 1rem;
            cursor: pointer;
          }
        }

        #show-messages:checked ~ .messages {
          opacity: 1;
          transform: translateY(0);
          pointer-events: auto;
        }
      }

      @include media($medium-screen) {
        label[for="show-messages"] {
          display: none;
        }

        .messages {
          flex: 1;
        }
      }

      p {
        font-size: $small-font-size;
        line-height: 1.25;
        margin: 0 0 .25em;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}

.activity-counts {
  display: flex;
  justify-content: flex-start;
  font-size: $small-font-size;

  li {
    display: flex;
    align-items: center;
    margin-right: .5rem;
    padding-right: 2rem;
    text-transform: lowercase;

    &:first-child span {
      min-width: 4.5rem;
    }

    b {
      flex: 0 0 2.5rem;
      margin: 0 .25rem 0 -2.5rem;
      text-align: center;
    }

    span {
      white-space: nowrap;
      margin-left: .2rem;
    }

    [rel="limit"] {
      display: none;
    }

    svg {
      flex: 0 0 2.5rem;
    }

    circle, path {
      fill: none;
      stroke: rgba($accent-color, .15);
      stroke-width: .25rem;
    }

    path {
      stroke: $accent-color;
      transition: stroke-dashoffset $base-duration $base-timing;
    }
  }
}

.select-initial-activities {
  > header {
    @include full-width-section;
    background: $base-background-color;
    border-bottom: $base-border;

    p {
      margin: 0;
    }

    &.fixed {
      @include position(fixed, 0rem 0rem null 0rem);
      z-index: 50;
    }
  }

  > footer {
    @include full-width-section;
    @include position(fixed, null 0rem 0rem 0rem);
    z-index: 100;
    background: rgba($base-background-color, .95);
    border-top: $base-border;

    .inner {
      display: flex;
      flex-direction: row;
      align-items: center;

      .activity-counts {
        flex: 1;
      }

      .money {
        margin: 0 1rem;
        font-size: 125%;
      }

      &::after {
        display: none;
      }
    }
  }
}

.activity-selector {
  @include full-width-section;
  padding: 0 0 10rem;
  position: relative;

  header {
    position: static;
  }

  h2 {
    padding: .5rem 0 0;
    margin: 0 auto;
    max-width: $max-width;
    font-weight: $light-font-weight;
    cursor: pointer;
  }

  h3 {
    font-size: $base-font-size;
    font-weight: $bold-font-weight;
    color: $secondary-color;
    padding: .5rem 0;
    line-height: 1em;
    margin: 0 auto;
    max-width: $max-width;
    cursor: pointer;
  }

  .fixed {
    @include position(fixed, null 0rem null 0rem);
  }

  .day {
    header {
      padding: 0;
      height: 2rem;

      .inner {
        padding: 0 1rem;
        background: rgba($base-background-color, .95);
        z-index: 40;
        height: 2rem;
      }

      ~ header .inner {
        border-bottom: $base-border;
      }
    }

    section {
      padding: 0 .5rem;
    }
  }

  [role=list] {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: .5rem auto 0;
    max-width: $max-width + 16px;

    > * {
      flex: 1 0 12rem;
      margin: 0 .5rem;
    }
  }

  [role=listitem] {
    position: relative;
    margin: .5rem;
    background: $base-background-color;
    transition: all $base-duration $base-timing;
    user-select: none;

    img {
      display: block;
      filter: saturate(15%) opacity(50%);
      transition: all $base-duration $base-timing;
      border-radius: $base-border-radius;
    }

    :checked ~ img {
      @include border-bottom-radius(0);
    }

    label {
      cursor: pointer;
      margin: 0;
      max-height: 5rem;
      position: relative;
      overflow: hidden;
      border-radius: $base-border-radius;
      display: flex;
      align-items: center;

      img {
        flex: 1 1 100%;
        height: auto;
      }

      svg {
        @include position(absolute, .5rem null null .5rem);
        @include size(2.5rem);
      }

      circle {
        fill: rgba(white, .85);
      }

      path {
        fill: none;
        stroke: $accent-color;
        stroke-width: 3px;
        stroke-dasharray: 28;
        stroke-dashoffset: 28;
      }

      :checked ~ svg path {
        stroke-dashoffset: 0;
        transition: stroke $base-duration $base-timing, stroke-dashoffset $long-duration $ease-out-cubic;
      }

      .full {
        @include position(absolute, 50% 0rem null 0rem);
        margin: -.75em 0;
        line-height: 1.5em;
        font-weight: $bold-font-weight;
        text-transform: uppercase;
        letter-spacing: .1em;
        color: white;
        font-size: 1.5rem;
        text-align: center;
        background: rgba($accent-color, .75);
      }
    }

    input {
      display: none;
    }

    .description {
      padding: .5rem 3.5rem .5rem .5rem;
      font-size: $small-font-size;
      position: relative;
      min-height: 3.5rem;
    }

    [rel="more"] {
      @include position(absolute, .5rem 0rem null null);
      @include size(2.5rem);
      padding: .5rem;
      opacity: .5;
      border-radius: 50%;

      i {
        display: block;
      }

      &:hover {
        opacity: 1;
      }

      &:active {
        background: $secondary-background-color;
      }
    }

    h4 {
      margin: 0;
      font-size: 100%;
      font-weight: $bold-font-weight;
    }

    .dates {
      font-style: normal;
      margin: 0;
      color: $secondary-color;
      font-size: .75rem;
    }

    .facilitating {
      font-weight: $bold-font-weight;
      color: $accent-color;
      margin: 0;
    }

    &[aria-selected="true"] {
      border-radius: $base-border-radius;
      box-shadow: 0 0 .5rem rgba(black, .25);

      label {
        @include border-bottom-radius(0);
      }

      img {
        filter: saturate(100%) opacity(100%);
        @include border-bottom-radius(0);
      }
    }
  }

  @include media($medium-screen) {
    padding: 0 0 6rem;

    .day {
      header .inner { padding: 0 2rem; }
      section { padding: 0 1.5rem; }
    }

    [role="listitem"] {
      label {
        max-height: none;
      }
    }
  }
}

.zoomed-activity-window {
  position: fixed;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all $long-duration $ease-out-cubic;

  &::before {
    content: "";
    @include position(fixed, 0rem 0rem 0rem 0rem);
    z-index: -1;
    background: rgba($dark-grey, .5);
    opacity: 0;
    transition: opacity $medium-duration $base-timing;
  }

  &.zoomed {
    left: 0 !important;
    top: 0 !important;
    width: 100% !important;
    height: 100% !important;

    article, &::before { opacity: 1 }
  }

  article {
    position: relative;
    display: flex;
    flex-direction: column;
    background: $base-background-color;
    width: 100%;
    height: 100%;
    max-width: 30rem;
    max-height: 40rem;
    box-shadow: 0 0 1rem $dark-grey;
    overflow: hidden;
    transition: opacity $long-duration $ease-out-cubic;
    opacity: 0;

    header {
      position: relative;
      overflow: hidden;
      -webkit-font-smoothing: antialiased;

      img {
        display: block;
      }

      .shim {
        @include position(absolute, 0rem 0rem 0rem 0rem);
        background: $header-background-color;
        opacity: 0;
      }

      h4 {
        @include position(absolute, null 3.5rem 1rem 1rem);
        z-index: 1;
        color: white;
        margin: 0;
        font-size: 2rem;
      }

      &::after {
        content: "";
        @include position(absolute, 0rem 0rem 0rem 0rem);
        background: linear-gradient(to bottom, rgba($header-background-color,
        0), rgba($header-background-color, .5));
      }
    }

    [rel="close"] {
      @include position(absolute, 1rem 1rem null null);
      @include size(2.5rem);
      z-index: 1;
      padding: .5rem;
      border-radius: 50%;
      background: rgba(black, .25);
      color: white;
      opacity: .5;
      transition: all $base-duration $base-timing;
      outline: none;

      i { display: block; }

      &:hover { opacity: 1; }
    }

    .body {
      flex: 1;
      overflow: auto;
      -webkit-overflow-scrolling: touch;

      .clash {
        padding: .5rem 1rem;
        display: flex;
        align-items: flex-start;
        background: $amber;

        p {
          flex: 1;
          margin: 0 0 0 1rem;
        }
      }

      .summary {
        background: $secondary-background-color;
        margin: 0 -1rem $small-spacing;
        border-bottom: $base-border;
        padding: $small-spacing 1rem;

        p {
          margin: 0;

          &:first-child {
            font-weight: $bold-font-weight;
          }

          &:empty {
            display: none;
          }
        }
      }

      .text {
        padding: 0 1rem 1rem;
      }

      ul {
        @include bulleted-list;
      }
    }

    footer {
      padding: .5rem 1rem;
      border-top: $base-border;

      button {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        border: 1px solid $teal;
        background: white;
        color: $teal;

        &:hover {
          background: inherit;
        }

        &[disabled] {
          border-color: $tomato;
          color: $tomato;
        }

        &[aria-selected] {
          background: $teal;
          color: white;
        }

        span {
          flex: 1;
          text-align: center;
          margin-right: 1.5rem;
        }
      }
    }
  }
}
