@mixin full-width-section {
  padding: 0 1rem;

  @include media($medium-screen) {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  > .inner {
    @include outer-container;
    padding: 1rem 0;
  }
}

@mixin full-width-header {
  @include full-width-section;
  background-color: $header-background-color;
  color: white;
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background: $footer-background-color;

  > section,
  > form,
  > header {
    background: $base-background-color;
  }

  > section,
  > form > section {
    @include full-width-section;
  }

  > header {
    @include full-width-header;

    .inner {
      display: flex;
      flex-direction: row;
      align-items: baseline;
      justify-content: space-between;
      flex-wrap: wrap;

      &::after {
        display: none;
      }
    }

    h1 {
      margin: 0;
      font-weight: $light-font-weight;
      font-size: 200%;

      a {
        color: white;
      }
    }

    a {
      color: rgba(white, .75);

      &:hover {
        color: white;
      }

      &[rel="back"] {
        display: flex;
        align-items: center;

        i {
          font-size: 100%;
          margin-right: .5em;
        }
      }
    }
  }

  > footer {
    @include full-width-section;
    background: $footer-background-color;
    color: rgba(white, .5);
    -webkit-font-smoothing: antialiased;
    font-size: $small-font-size;
    padding-bottom: 6rem;

    h3 {
      font-size: $small-font-size;
      text-transform: uppercase;
      color: white;
      letter-spacing: .2em;
    }

    a {
      color: inherit;
      &:hover { color: white; }
    }

    .social-media {
      display: flex;
      flex-justify: center;
      align-items: center;

      li:not(:last-child) {
        margin-right: $base-spacing;
      }

      a {
        display: block;
        @include size(2rem);
        background-size: cover;
        background-position: 50% 50%;
        background-repeat: no-repeat;

        &[rel="twitter"] { background-image: url(image-path('icons/twitter.svg')); }
        &[rel="instagram"] { background-image: url(image-path('icons/instagram.svg')); }
        &[rel="facebook"] { background-image: url(image-path('icons/facebook.svg')); }
      }

      &:hover {
        a {
          opacity: .5;

          &:hover {
            opacity: 1;
          }
        }
      }
    }

    section {
      margin-bottom: $base-spacing;

      @include media($medium-screen) {
        @include span-columns(1 of 4);
        @include omega(3n);

        &:first-child {
          text-align: right;
        }

        &.sponsors {
          @include span-columns(2 of 4);
        }
      }
    }
  }
}

.turbolinks-progress-bar {
  background-color: $accent-color;
}
