@mixin checkbox-list {
  margin: 0 0 $base-spacing;

  li {
    input {
      display: none;
    }

    label {
      display: flex;
      position: relative;
      padding: .5rem 0;
      margin: 0;
      font-weight: $base-font-weight;
      align-items: center;
    }

    svg {
      flex: 0 0 2.5rem;
      cursor: pointer;
      margin-right: 1rem;

      circle, polyline {
        stroke: $secondary-color;
        transition: stroke $base-duration $base-timing;
      }

      polyline {
        stroke-dasharray: 28;
        stroke-dashoffset: 28;
      }
    }

    :checked ~ label svg {
      circle, polyline {
        stroke: $base-font-color;
      }

      polyline {
        stroke-dashoffset: 0;
        transition: stroke $base-duration $base-timing, stroke-dashoffset $long-duration $ease-out-cubic;
      }
    }
  }
}

