@mixin svg-checkbox {
  circle, polyline {
    stroke: $secondary-color;
    transition: stroke $base-duration $base-timing;
  }

  polyline {
    stroke-dasharray: 28;
    stroke-dashoffset: 28;
  }
}

@mixin svg-checkbox-checked {
  circle, polyline {
    stroke: $base-font-color;
  }

  polyline {
    stroke-dashoffset: 0;
    transition: stroke $base-duration $base-timing, stroke-dashoffset $long-duration $ease-out-cubic;
  }
}

@mixin checkbox-list {
  margin: 0 0 $base-spacing;

  li {
    input {
      display: none;
    }

    label {
      display: flex;
      position: relative;
      padding: .5rem 0;
      margin: 0;
      font-weight: $base-font-weight;
      align-items: center;
    }

    svg {
      @include svg-checkbox;
      flex: 0 0 2.5rem;
      cursor: pointer;
      margin-right: 1rem;
    }

    :checked ~ label svg {
      @include svg-checkbox-checked;
    }
  }
}

@mixin action-list {
  margin: 0 0 $small-spacing;
  padding: 0;

  li,
  [role="listitem"] {
    display: block;
    list-style: none;
  }

  a {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 1rem;
    color: $base-font-color;

    i {
      @include size(1.5rem);
      margin: .5rem 0;
      &:first-child { margin-right: 2rem; }
    }

    span {
      @include ellipsis;
      flex: 1;
      &:first-child { margin-left: 3.5rem; }
    }

    &[disabled] {
      color: $secondary-color;
    }
  }
}
