body > nav {
  background: $navigation-background-color;
  color: $navigation-color;
  padding: 0 1rem;
  -webkit-font-smoothing: antialiased;

  @include media($medium-screen) {
    padding: 0 2rem;
  }

  .inner {
    display: flex;
    max-width: $max-width;
    margin: 0 auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  a {
    margin: 0 -1rem;
    padding: 1rem;
    line-height: 1.5rem;
    color: $light-grey;
    text-shadow: 0 1px 0 $dark-grey;

    &:hover {
      color: white;
      background-color: $medium-grey;
    }
  }
}
