.edit_participant {
  aside {
    .avatar {
      svg {
        width: 100%;
        height: auto;
        opacity: .25;
      }

      img {
        width: 100%;
        height: auto;
        border-radius: 50%;
      }

      span {
        display: none;
      }
    }
  }

  @include media($medium-screen) {
    .details {
      @include span-columns(2 of 3);
    }

    aside {
      @include span-columns(1 of 3);
    }
  }
}
