.registration-steps {
  padding-top: 1rem;

  li {
    > * {
      display: block;
      padding: .75rem 1rem .75rem 3rem;
      position: relative;
      line-height: 1.5rem;
      opacity: .5;
      color: white;

      &::before {
        @include position(absolute, .5rem null null 0rem);
        @include size(2rem);
        padding: .5rem;
        border-radius: 50%;
        background: white;
        content: "";
        font: normal 1rem/1 $icon-font;
        text-align: center;
        vertical-align: middle;
        color: $header-background-color;
      }
    }

    > a:hover {
      opacity: .75;
    }

    &.complete > *::before { content: "done"; }

    &.current > *,
    &.current > a:hover {
      opacity: 1;
      &::before { content: "mode_edit"; }
    }
  }

  @include media($medium-screen) {
    display: flex;
    margin: 0 (-$small-spacing);
    justify-content: flex-start;

    li {
      margin: 0 $small-spacing;

      > * {
        padding: 1rem 1rem 1rem 3.5rem;

        &::before {
          @include size(2.5rem);
          font-size: 1.5rem;
        }
      }
    }
  }
}

.registration-user-details {
  > .inner {
    .existing-user {
      .buttons {
        display: flex;
        justify-content: space-between;
        align-items: center;

        a {
          text-align: center;
          padding: 0 $small-spacing;
          line-height: 1.25;
        }
      }
    }

    @include media($medium-screen) {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;

      .intro {
        width: 100%;
        margin-bottom: $base-spacing;
      }

      .new-user {
        flex: 2;
      }

      .existing-user {
        flex: 1;
        margin-left: $base-spacing;
        padding: $small-spacing;
        background: $secondary-background-color;
        border-radius: $base-border-radius;
        border: $base-border;

        label {
          display: none;
        }
      }
    }

    @include media($large-screen) {
      .passwords {
        display: flex;

        .field {
          flex: 1;

          &:not(:first-child) {
            padding-left: $small-spacing;
          }

          &:not(:last-child) {
            padding-right: $small-spacing;
          }
        }
      }
    }
  }
}

.package-selection {
  .packages {
    @include checkbox-list;

    li {
      border-bottom: $base-border;

      &:first-child {
        border-top: $base-border;
      }

      .description {
        flex: 1;
      }

      h4 {
        font-size: 1.25rem;
        margin: 0;
        font-weight: $light-font-weight;
      }

      p {
        color: $secondary-color;
        margin: 0;
      }

      .price {
        font-size: 1.5rem;
        margin-left: 1rem;
      }
    }
  }
}

.payment {
  .payment-methods,
  .payment-amounts {
    @include checkbox-list;
  }

  .payment-amounts {
    p {
      flex: 0 1 50%;
      margin: 0;
    }

    .money {
      font-size: 1.5rem;
      flex: 1 0 100%;
      padding-left: 3.5rem;
    }

    label {
      flex-wrap: wrap;
    }

    @include media($medium-screen) {
      .money {
        flex: 0 0 auto;
        padding: 0;
        order: 1;
      }

      p {
        flex: 0 1 auto;
      }

      label {
        flex-wrap: nowrap;
        flex: 0 0 auto;

        &::after {
          content: "";
          flex: 1;
          margin: 0 1rem;
          border-bottom: 1px dotted $secondary-color;
        }
      }
    }
  }
}

.registration-checklist {
  li {
    margin-bottom: $small-spacing;
  }

  a {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    color: $base-font-color;
  }

  svg {
    @include size(2.5rem);
    margin-right: 1rem;
    circle { stroke: $base-font-color; }
    polyline { display: none; }
  }

  [data-done] {
    a {
      color: $secondary-color;
    }

    svg {
      circle, polyline { stroke: $secondary-color; }
    }
  }

  h4 {
    font-size: 1.25rem;
    line-height: 1.5rem;
    font-weight: $base-font-weight;
    margin: .5rem 0;
  }
}
