.money {
  abbr {
    font-variant: small-caps;
    text-transform: lowercase;
    color: $secondary-color;
    &::before { content: " "; }

    p & {
      color: inherit;
      text-transform: uppercase;
      margin: 0;

      &::before { content: " ("; }
      &::after { content: ")"; }
    }
  }
}
