.money {
  white-space: nowrap;

  abbr {
    font-variant: small-caps;
    text-transform: lowercase;
    color: $secondary-color;
    &::before { content: " "; }

    p & {
      color: inherit;
      text-transform: uppercase;
      margin: 0;

      &::before { content: " ("; }
      &::after { content: ")"; }
    }
  }
}

@mixin bulleted-list {
  margin: 0 0 $small-spacing $base-spacing;
  list-style-type: square;
}
