@import "base";

@import "layout";
@import "typography";
@import "lists";

body {
  font-size: 12px;
}

h1 {
  font-size: 150%;
}

.itinerary-list {
  h2 {
    color: $secondary-color;
    font-weight: $base-font-weight;
    font-size: 100%;
    border-bottom: $base-border;
    text-transform: uppercase;
    line-height: 2rem;
  }

  .article {
    padding: 0 0 1.5em;

    a { color: $base-font-color; }

    h3 {
      font-size: 100%;
      margin: 0;
      line-height: $base-line-height;
    }

    .info {
      color: $secondary-color;
      span + span {
        &::before {
          content: " • ";
        }
      }
    }

    position: relative;
    padding-left: 11rem;

    .times {
      position: absolute;
      left: 0;
      top: 0;
      width: 10rem;
      color: $secondary-color;
    }
  }
}
