%article
  = link_to activity_path(festival, activity.class, activity), class: 'inner' do
    = image_tag activity_image_url(activity, :medium)
    .description
      %h4= activity.name
      %p.facilitators= activity.facilitators.to_a.to_sentence
