- content_for :title, @activity_list.title

%header
  .inner
    %h1
      = link_to t('.title', year: festival.year), activities_path
    %ul{role: 'tablist'}
      - Activity.types.each do |type|
        %li{role: 'tab', aria: { selected: @activity_list.type == type }}
          = link_to type.model_name.human.pluralize, activity_type_path(festival, type)

%section.activities-intro
  .inner
    :markdown
      #{@activity_list.intro}

%section.activities
  .inner
    %section{role: 'list'}
      = render partial: "activity", collection: @activity_list.scheduled.sort_by { |a| a.schedules.sort.first.starts_at }

:coffee
  $(document).on 'turbolinks:load', ->
    grid = $('.activities [role=list]')
    items = grid.find('article')
    grid.masonry
      itemSelector: 'article'
      columnWidth: items.get(0)
    items.imagesLoaded().progress (imgLoad, image) ->
      grid.masonry('layout')
